/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }





}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }


    .hero-section .container .fs-1 {
        font-size: 72px !important;
    }

    .hero-section .container .fs-2 > span {
        font-size: 40px !important;
    }

    .service-card {
        min-height: 488px;
    }


    .portf-card {
        min-height: 100%;
    }

}











/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }




    .navbar-nav {
        height: 0%;
        background-color: transparent !important;
        margin-top: 0;
    }




    .navbar-nav li>a:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: white;
        transition: width .3s;
    }

    .navbar-nav li>a:hover::after {
        width: 100%;

    }


    .nav-link.active {
        position: relative;
        
      }
      
      .nav-item .nav-link.active::after {
          /* background-color: white; */
        content: '';
        /* position:absolute; */
        display: block;
        width: 100%;
        height: 2px;
        
        background-color: white;
        transition: width .3s;
      }

    .dropdown-icon {
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }

    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 0;
        vertical-align: auto;

        border: none;
    }


    .dropdown-menu {
        --bs-dropdown-link-hover-bg: unset;
    }


    .service-card {
        min-height: auto;
    }


    .portf-card {
        min-height: 100%;
    }



    .dropdown-menu {
        background-color: rgba(24, 24, 24, 1) !important;
        width: unset;
    }






}











/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }





}
















/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}